/* Important Address page css */
.impd-heading{
  color: red;
  text-align: center;
  text-transform: capitalize;
}
.deleteAddress {
  background-color: #ea2027;
  width: 80px;
}
.ag-theme-alpine {
  height: 500px;
}
